@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

html{
    font-family: 'Manrope', sans-serif;
}

.bg-hero{
    background : url('/potrait.jpg') no-repeat fixed;
    background-size : cover;
}
